
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.bin
*.hex

**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars 

.vscode/
**/.DS_Store
Thumbs.db

firmware/src/secrets.h
terraform/terraform.tfvars